---
layout: default
title: Rollins ACM
---

<div class="row">
<div class="twelve columns">
	
	<!-- About ACM segment -->
	<!-- Note: Figure out how to auto generate this from About page -->
	<h1>About Rollins ACM Student Chapter</h1>
	The Rollins Student Chapter of the Association of Computing Machinery was created to provide more educational experiences outside the classroom. Meeting attendees gain further exposure to coding practice and challenging problems, while simulataneously preparing for their future in the field. If you are a Rollins student and would like to be on our email list, just contact us at rollinsacm@rollins.edu.

	<!-- Display most recent 3 posts -->
	{% for post in site.posts limit: 3 %}
		<div class="post">
			<img src="{{ post.image }}"/>
			<h3 class="post-title">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h3>
	
			<span class="post-date">{{ post.date | date: '%b %-d, %Y' }}</span>
	
			{{ post.excerpt }}
			
			{% if post.content contains site.excerpt_separator %}
				<a class="my-button" href="{{ post.url }}">Read more</a>
			{% endif %}
			
		</div>
	{% endfor %}
</div>
</div>