<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	</head>
	<body>
		
		<div id="header">
			<!-- Fancy Header -->
			{% include fancyHeader.html %}
			
			<!-- Navigation -->
			<nav>
	    		<ul class="navbar">
	    			<li><a class="my-button" href="/index.html">Home</a></li>
	    			<li><a class="my-button" href="/about">About</a></li>
		        	<li><a class="my-button" href="/resources">Resources</a></li>
	            <li><a class="my-button" href="/archive">Archive</a></li>
	    		</ul>
			</nav>
		</div>
		
		
		<!-- /.container -->
		<div class="container">
      		{{ content }}
    	</div>
    	
		<footer>
    		<ul>
        		<li><a class="my-button" target="_blank" href="mailto:rollinsacm@rollins.edu">email</a></li>
        		<li><a class="my-button" target="_blank" href="https://github.com/rollinsacm">GitHub</a></li>
			</ul>
		</footer>

	</body>
</html>